/*For Header Component*/
.header{
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .headerLeft, .headerRight{
    display: flex;
    align-items:center;
  }
  .header__icon{
    width: 80px;
    cursor: pointer;
  }
  a span {
    color: white;
    margin: 0 30px;
    cursor: pointer;
    font-size: 1.3rem;
  
  
  }
  a span:hover{
    color: red;
  }